PicPack/.vs/PicPack/v16/.suo
PicPack/PicPack/obj/
PicPack/PicPack/bin/
PicPack/PicPack/PicPack.csproj.user
PicPack/BitmapJSONLib/obj/
PicPack/BitmapJSONLib/bin/
PicPack/.vs/PicPack/DesignTimeBuild/.dtbcache.v2
